<div class="popup-container">
    <div class="popup-content">
      <div class="buscador">
        <form action="">
            <input type="date" name="" id="">
            <select id="ordenar">
                <option value=""></option>
                <option value=""></option>
                <option value=""></option>
            </select>
        </form>
      </div>
      <div class="cont-tabla">
        <table>
            <thead>
                <tr>
                    <td>#</td>
                    <td>Especialidad</td>
                    <td>Motivo Cita Medica</td>
                    <td>Descripción</td>
                    <TD>Fecha Cita</TD>
                    <td>Hora Cita</td>
                    <td>Paciente</td>
                    <td>Estado</td>
                    <td>Prioridad</td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>
      </div>
      <div class="cont-acciones">
        <div class="botonesAcciones">
            <button id="eliminar">Eliminar</button>
            <button id="modificar">Modificar</button>
        </div>
      </div>
      
    </div>
  </div>
