<main class="main">
    <header>
        <div class="cont-header">
            <div class="cont-titulo">
                <h2>Sistema Gestor de Citas Medicas</h2>
            </div>
            <div class="cont-buscador">
                <form action="">
                    <input type="text" value="" id="buscador">
                    <button>Buscar</button>
                </form>
            </div>
            <div class="cont-user">
                <div class="cont-identicacionPaciente">
                    <p>Hola, "Aquí va tu Nombre"</p>
                </div>
                <div class="cont-accionesPaciente">
                    <form action="">
                        <select name="" id="">
                            <option value="">Seleccione</option>
                            <option value="datosPersonales">Datos Personales</option>
                            <option value="cerrarSesion">Cerrar Sesión</option>
                        </select>
                    </form>
                </div>
            </div>
        </div>
        <div class="cont-citaMedica" *ngIf="mostrarContCitaMedica">
            <div class="popup-content">
              <div class="buscador">
                <form action="">
                    <input type="date" name="" id="">
                </form>
              </div>
              <div class="cont-tabla">
                <table>
                    <thead>
                        <tr>
                            <td>#</td>
                            <td>Especialidad</td>
                            <td>Motivo Cita Medica</td>
                            <td>Descripción</td>
                            <TD>Fecha Cita</TD>
                            <td>Hora Cita</td>
                            <td>Medico</td>
                            <td>Estado</td>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
              </div>
              <div class="cont-acciones">
                <div class="botonesAcciones">
                    <button (click)="filtrarCitasCanceladas($event)">Citas Canceladas</button>
                    <button (click)="filtrarCitasProgramadas($event)">Citas Programadas</button>
                    <button (click)="redireccionarCitaMedica($event)">Agendar Cita</button>
                </div>
              </div>
              
            </div>
          </div>
        <router-outlet></router-outlet>
    </header>

    <nav class="cont-navegacion">
        <div class="cont-logoEmpresa">

        </div>
        <div class="cont-menu">
            <ul class="cont-lista">
                <li><a href="#" (click)="redireccionarCita($event)">Citas Medicas</a></li>
                <li><a href="#" (click)="redireccionarCuenta($event)">Historia Clínica</a></li>
                <li><a href="#" (click)="redireccionarCuenta($event)">Datos Personales</a></li>
            </ul>
        </div>
        <div class="cont-datos">
            <p>Universidad Pedagógica y Tecnologíca de Colombia</p>
            <p>2024</p>
        </div>
    </nav>
  </main>
  
