$color-primario: #55917F;
$color-fuente: #F7FBEF;
$color-fuente2: #080708;
$color-secundario: #D17B0F;
.main{
    width: 100%;
    height: 100%;
    padding: 0px;
    background: #F7FBEF;
    display: flex;
    flex-direction: column;
    
    header{
        display: flex;
        flex-direction: column;
        width: 80%;
        height: auto;
        position: absolute;
        right: 0px;
        .cont-header{
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom:2px solid $color-secundario ;
            .cont-titulo{
                h2{
                    padding: 15px;
                    font-size: 1.5rem;
                    color: $color-fuente2;
                    font-weight: 300;
                }
            }

            .cont-buscador{
                form{
                    input{
                        width: 70%;
                        background: #fff;
                        border: none;
                        border-bottom: 2px solid $color-secundario;
                        font-weight: 300;
                        color: $color-fuente2;
                        font-size: 1rem;
                        padding: 5px;
                        margin-right: 5px;
                    }
                    button{
                        height: 100%;
                        padding: 5px;
                        background: $color-secundario;
                        color: $color-fuente;
                        border: none;
                        border-radius: 3px;
                        -webkit-border-radius: 3px;
                        -moz-border-radius: 3px;
                        -ms-border-radius: 3px;
                        -o-border-radius: 3px;
                    }
                }
            }
            .cont-user{
                display: flex;
                justify-content: space-between;
                .cont-identicacionPaciente{
                    p{
                        font-size: 1rem;
                        font-weight: 400;
                        color: $color-fuente2;
                        margin-right: 20px;
                    }
                }
                .cont-accionesPaciente{
                    form{
                        select{
                            width: 40%;
                        }
                    }
                }
            }
        }

        .cont-citaMedica{
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 10%;
            padding-bottom: 30px;
            .popup-content{
                width: 80%;
                height: auto;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .buscador{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 10px;
                    form{
                        width: 100%;
                        display: flex;
                        padding: 10px;
                        justify-content: right;
                        input{
                            width: 20%;
                            background-color: none;
                            color: $color-fuente2;
                            font-weight: 400;
                            font-size: 0.8rem;
                            padding: 5px;
                            margin-right: 5px;
                            border: 2px solid $color-secundario;
                            border-radius: 3px;
                            -webkit-border-radius: 3px;
                            -moz-border-radius: 3px;
                            -ms-border-radius: 3px;
                            -o-border-radius: 3px;
                            }
                        }
                    }
                }
                .cont-tabla{
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 40px;
                    table{
                        color: $color-fuente2;
                        font-weight: 300;
                        font-size: 1rem;
                        thead{
                            tr{
                                td{
                                    background-color: $color-secundario;
                                    border-bottom:2px solid $color-secundario ;
                                    border-top:2px solid $color-secundario ;
                                    padding: 5px;
                                    color: $color-fuente;
                                    text-align: center;
                                }
                            }
                        }
                        tbody{
                            tr{
                                td{
                                    border-bottom:2px solid $color-secundario ;
                                    padding: 5px;
                                    text-align: center;
                                }
                            }
                        }
                    }
                }
                .cont-acciones{
                    width: 100%;
                    height: auto;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 0px 40px 40px 40px;
                    .botonesAcciones{
                        width: 75%;
                        display: flex;
                        flex-wrap: wrap;
                        padding: 0px 0px 80px 0px;
                        justify-content: right;
                        button{
                            color: $color-fuente;
                            background: $color-secundario;
                            border: none;
                            font-size: 1rem;
                            font-weight: 400;
                            padding: 5px;
                            margin-right: 5px;
                            border-radius: 2px;
                            -webkit-border-radius: 2px;
                            -moz-border-radius: 2px;
                            -ms-border-radius: 2px;
                            -o-border-radius: 2px;
                        }
                    }
                }
            }
    }
    .cont-navegacion{
        width: 20%;
        height: 100%;
        position: absolute;
        left: 0px;
        background:$color-primario;
        display: flex;
        flex-direction: column;
        align-items: center;
        .cont-logoEmpresa{
            height: 10%;
        }
        .cont-menu{
            width: 80%;
            height: 80%;
            display: flex;
            align-items: center;
            .cont-lista{
                width: 100%;
                height: 100%;
                list-style: none;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding-top: 40px;
                padding-bottom: 40px;
                li{
                    width: 100%;
                    height: 10%;
                    border-top: 2px solid $color-fuente;
                    border-bottom: 2px solid $color-fuente;
                    padding: 10px;
                    margin: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a{
                        text-align: center;
                        font-weight: 400;
                        color: $color-fuente;
                        text-decoration: none;
                        font-size: 1rem;
                    }
                    :hover{
                        text-decoration: underline $color-secundario;
                    }
                }
            }
        }
        .cont-datos{
            height: 10%;
            p{
                font-weight: 300;
                font-size: 0.8rem;
                color: $color-fuente;
                text-align: center;
                padding: 5px;
            }
        }
    }
    
 }

