<div class="popup-container">
    <div class="popup-content">
      <div class="popup-header">
        <h2>Iniciar Sesión Medicos</h2>
      </div>
  
      <form (ngSubmit)="onSubmit(false)" class="form-login" [formGroup]="loginForm">
        <label for="username">Correo Electronico</label>
        <input type="text" id="username" formControlName="username">
        <div *ngIf="submitted && loginForm.get('username')?.invalid">
          <small *ngIf="loginForm.get('username')?.hasError('required')">El campo es obligatorio.</small>
          <small *ngIf="loginForm.get('username')?.hasError('pattern')">Ingrese un correo electronico Valido.</small>
        </div>
        <label for="password">Contraseña:</label>
        <input type="password" id="password" formControlName="password">
        <div *ngIf="submitted && loginForm.get('password')?.invalid">
          <small *ngIf="loginForm.get('password')?.hasError('required')">El campo es obligatorio.</small>
          <small *ngIf="loginForm.get('password')?.hasError('pattern')">La contraseña debe tener al menos 8 caracteres, una mayúscula, un número y un carácter especial.</small>
        </div>
        <button type="submit">Iniciar sesión</button>
      </form>
  
      <form (ngSubmit)="onSubmit(true)" class="form-register">
        <button type="submit">Registrarse</button>
      </form>
  
      <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
    </div>
  </div>